<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>デッキ一覧</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='deck.css') }}"
    />
  </head>
  <body>
    <nav class="navbar">
      <div class="nav_container">
        <a class="play-sound00 nav_button" href="/logout">ログアウト</a>
        <a class="play-sound00 nav_button" href="/deck_add">デッキ追加</a>
      </div>
    </nav>

    <h1 class="start-title">デッキ一覧</h1>
    <div class="deck-list">
      {% for deck in decks %}
      <div class="deck-item">
        <a href="{{ url_for('deck_test', deck_id=deck.id) }}" class="deck-link button">
          {{ deck.name }} (単語数: {{ deck.words|length }})
        </a>
        <div class="deck-actions">
          <a
            href="{{ url_for('deck_detail', deck_id=deck.id) }}"
            class="edit-btn"
            >編集</a
          >
          <a
            href="{{ url_for('delete_deck', deck_id=deck.id) }}"
            class="delete-btn"
            onclick="return confirm('このデッキを削除してもよろしいですか？')"
            >削除</a
          >
        </div>
      </div>
      {% endfor %}
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <audio
      id="trans-sound"
      src="{{ url_for('static', filename='sounds/page_trans.mp3') }}"
    ></audio>
  </body>
</html>
