<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>単語帳追加</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='deck.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='hamburger.css') }}"
    />
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='icons/favicon.png') }}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='icons/favicon.png') }}" sizes="16x16">
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='icons/favicon.png') }}">
      <!-- ファビコンの定義 -->
    <link rel="icon" type="image/png" href="/static/icons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/static/icons/favicon-16x16.png" sizes="16x16">
    <!-- ホーム画面への追加 -->
    <link rel="apple-touch-icon"  href="/static/icons/apple-touch-icon.png" sizes="180x180">
    <link rel="manifest" href="/static/icons/site.webmanifest">
  </head>
  <body>
    <div class="hamburger-menu">
      <button class="hamburger-btn">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <div class="hamburger-content">
        <a class="play-sound00" href="/decks">単語帳一覧</a>
        <a class="play-sound00" href="/saved_sentences">文章リスト</a>
        <a class="play-sound00" href="/study_logs">学習ログ</a>
        <a class="play-sound00" href="/logout">ログアウト</a>
      </div>
    </div>

    <h1 class="start-title">単語帳作成</h1>
    <!-- 単語帳作成フォーム -->
    <form action="{{ url_for('create_deck') }}" method="POST">
      <div>
        <label for="name">単語帳名:</label>
        <input type="text" id="name" name="name" required />
      </div>
      <div>
        <label for="category">カテゴリ:</label>
        <input type="text" id="category" name="category" placeholder="例: TOEIC, ビジネス英語, 旅行" />
      </div>
      <div>
        <label for="description">説明:</label>
        <textarea id="description" name="description"></textarea>
      </div>
      <button type="submit">単語帳を作成</button>
    </form>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="{{ url_for('static', filename='hamburger.js') }}"></script>
    <audio
      id="trans-sound"
      src="{{ url_for('static', filename='sounds/page_trans.mp3') }}"
    ></audio>
  </body>
</html>
