<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ deck.name }} - デッキ詳細</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <nav class="navbar">
      <div class="nav_container">
        <a
          class="play-sound00 nav_button"
          id="reset-btn"
          href="{{url_for('decks')}}"
          >デッキ一覧へ</a
        >
        <a class="play-sound00 nav_button" href="/logout">ログアウト</a>
      </div>
    </nav>
    <h1>{{ deck.name }}</h1>
    <p>{{ deck.description }}</p>
    <div class="container">
      <form
        method="post"
        action="{{ url_for('add_word_to_deck', deck_id=deck.id) }}"
        class="add-word-form"
      >
        <a href="{{ url_for('deck_test', deck_id=deck.id) }}" class="button"
          >このデッキでテストを開始</a
        >
        <div class="form-group">
          <label>単語: <input type="text" name="entry" required /></label>
          <label>意味: <input type="text" name="meaning" required /></label>
          <button type="submit" class="button">追加</button>
        </div>
      </form>

      <div class="word-list">
        {% for word in words %}
        <div class="word-item">
          <div class="english">{{ word.entry }}</div>
          <div class="japanese">{{ word.meaning }}</div>
          <form
            method="post"
            action="{{ url_for('delete_word', word_id=word.id) }}"
            style="display: inline"
          >
            <button type="submit" class="wrong-btn">削除</button>
          </form>
        </div>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
